.main_header {
    text-align: center;
    margin: 2rem 0;
}
.main_footer {
    text-align: center;
    margin-top: 2rem;
}
.main_footer_button {
    font-size: .6rem;
}
.main_logo {
    font-family: 'Pacifico', cursive;
}